*  {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans';
    background-color: teal;
    color:seashell;
}
body, html {
    margin:0;
    padding:0;
}
#left-menu{
    float: left;
    min-width: 200px;
    width: 10vw;
    height: 100vh;
    background-color: rgb(51, 51, 51);
}
#left-menu > p {
    padding: 5px;
    margin: 5px;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}
#left-menu div{
    padding: 5px;
}
hr {
    background-color: rgb(51, 51, 51);
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
textarea{
    font-family: 'Open Sans';
    font-size: 16px;
    outline:none;
    float: left;
    resize:none;
    color:seashell;
    background-color: teal;
    width: 43.5vw;
    height: 99.2vh;
    border-color: seashell;
    display:flex;
    align-items: center;
}
::placeholder{
    color:seashell;
}
#right-display{
    float: right;
    text-align: left;
    width: 43.5vw;
    height: 100vh;
    overflow:auto;
    white-space: pre-wrap;
}